{% extends 'ba.html.twig' %}

{% block body %}


    <table  width="60%"  align="center" class="table table-striped">
        <thead>
            <tr>

                <th>Date</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for r in rammassages %}
            <td> {{ r.pncs.nom }} {{ r.pncs.prenom }}</td>
            <td> {{ r.Date|date('d\m\y') }} </td>
            <td> {{ r.adresse }} </td>
            <td>

                <a href="{{ path('delete_rammasage') }}"><i class="glyphicon glyphicon-remove" title="Supprimer" onclick="confirm('Vous Voulez Vraiment Supprimer ce rammassage Oui/Non ?')"></i></a>

            </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
